@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Montserrat:wght@300;500;600;700;900&display=swap');

body, header, footer {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
}

body {
    background-image: url(./images/69.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 1024px;
    font-family: Dancing Script;
    color: #424242;
}

/* HEADER */
header {
    height: 60px;
    background-color: #fafafa;
    opacity: 1;
    position: fixed;
    z-index: 999;
    margin-top: 0;
}

#logo {
    width: 200px;
    height: 50px;
    float: left;
    margin: 5px;
    background-image: url(./images/logo.png);
    background-size: 100%;
    background-position: left;
}

/* Botonera */
#botonera {
    width: 500;
    height: 50px;
    margin: 5px 5px 5px 5px;
    float: right;
    font-weight: 500;
}

.button1 {
    background-color: #fac017; /* amarillo background*/
    border: 3px solid #fafafa;
    color: #fafafa;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 110px;
    height: 45px;
    margin: 2px 2px;
    padding: 7px 4px;
    border-radius: 10%;
    box-sizing: border-box;
    display: inline-block;
}

.button1:hover {
    background-color: #fafafa;
    color: #fac017;
    font-weight: bold;
    border: 3px solid #fac017;
    box-shadow: 5px 10px 7px rgba(0,0,0,0.3);
}

/* Cambios de estilo predeterminados */
a {
    text-decoration: none;
    font-style: none;
    color: #fafafa; 
    font-weight: bold;
}

#botonera ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    display: inline-block;
}

.espacio {
    background-color: #fafafa;
    opacity: 0;
    height: 60px;
}

/* Sección 1 ~ Hola*/
#hola {
    height: 420px;
    background-color: #fafafa;
    opacity: 0.95;
}

#texto {
    width: 555px;
    height: 390px;
    float: left;
    margin: 0px 0px 5px 5px;
    padding: 10px;
    box-sizing: border-box;
}

#imgfoto {
    width: 390px;
    height: 390px;
    float: right;
    margin: 0px 5px 0px 5px;
    object-fit: cover;
    height: 100%;
}


/* Sección 2 ~ BOOKS */
.books {
    height: 800px;
    background-color: #fafafa;
    opacity: 0.968;
}

.container {
    position: relative;
    width: 220px;
    height: 330px;
    float: left;
    align-self: center;
    background-color: #fac017;
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.container img {
    object-fit: cover;
    height: 100%;
}

.book-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
}

.container:hover .book-image {
    opacity: 0.15;
}

.container:hover .middle {
    opacity: 1;
}

/* Sección 3 */
#viajes-carrusel {
    height: 480px;
    background-color: #fafafa;
    opacity: 0.967;
}

.lugares {
    width: 230px;
    height: 330px;
    float: left;
    align-self: center;
    margin: 10px 5px 10px 5px;
}

.img-lugar {
    position: relative;
    width: 220px;
    height: 330px;
    float: left;
    align-self: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.img-lugar img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.txt-lugar {
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 10px 5px 10px 5px;
}

/* Sección 4 */
#redes {
    width: auto;
    height: 100px;
    background-color: #fafafa;
    opacity: 0.967;
}

.img-redes {
    margin-left: 38%;
}
 
.img-redes img {
    width: 60px;
    margin: 10px;

}                                   


/* Sección 5 */
#footer {
    height: 80px;
    background-color: #424242;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
}

#footer div {
    width: 960px;
    height: 20px;
    align-self: center;
    color: #fafafa;
    margin: 0;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
}

.gracias {
    font-weight: bold;
    color: #fac017;
}

#footer a {
    color: #fac017;
} 

/* Sección 0 ~ Welcome*/
h1 {
    margin-left: 20px;
    margin-top: 15px;
    text-align: center;
}

h2 {
    color: #fac017;
    font-weight: 900;
    font-size: 45px;
    text-align: center;
    margin: 0px;
}

p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 21px;
    font-weight: normal;
    text-align: justify;
}

p span {
    font-weight: bold;
    color: #fac107; 
}


/* Lucila Di Lorenzo */